nav {
  position: fixed;
  width: 100%;
}
.navBar {
  background-color: crimson;
  font-family: "Ubuntu", "sans-serif";
  padding: 20px 20px;
  transition: all 0.3s ease;
  z-index: 999;
}
.navBar.sticky {
  padding: 3px 20px;
  background: rgba(128, 128, 128, 0.329);
}
.navBar .maxWidth {
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar .logo a {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.navBar .logo a span {
  color: crimson;
}
/* .navBar.sticky .logo a {
  color: white;
} */
.navBar .menu li {
  list-style: none;
  display: inline-block;
}
.navBar .menu li a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s ease-in-out;
}
.navBar .menu li a:hover {
  color: crimson;
}
.navBar.navBar.sticky .menu li a {
  color: #fff;
}
.navBar .menuBtn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
@media (max-width: 999px) {
  .maxWidth {
    padding: 0 0px;
  }
  .navBar .menuBtn {
    padding: 0 25px;
    display: block;
    color: #fff;
    z-index: 1000;
  }
  .navBar .menuBtn i.active:before {
    content: "\f00d";
  }
  .navBar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navBar .menu.active {
    left: 0;
  }
  .navBar .menu li {
    display: block;
  }
  .navBar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}
