@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&family=Ubuntu:wght@400;500;700&display=swap");
section {
  width: 100%;
}
.home {
  display: flex;
  background-color: gray;
  background: url("../resources/stuamedmegdemobilde.jpeg") no-repeat center;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  font-family: "Ubuntu", "sans-serif";
}
.home .maxWidth {
  margin: auto 0 auto 40px;
  max-width: 1920px;
}
.home .homeContent {
  color: #fff;
  background-color: rgba(128, 128, 128, 0.788);
  padding: 25px 25px;
}

.home .homeContent .text1 {
  font-size: 32px;
}
.home .homeContent .text2 {
  font-size: 75px;
  font-weight: 600;
  justify-content: left -3px;
}
.home .homeContent .text3 {
  font-size: 40px;
}
.home .homeContent .text3 span {
  color: crimson;
  font-size: 50px;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .home .maxWidth {
    padding: 0 50px;
    margin: auto 0 auto 0;
  }
}
@media (max-width: 700px) {
  .home .maxWidth {
    padding: 0 20px;
    margin: auto 0 auto 0;
  }
  .home .homeContent .text1 {
    font-size: 27px;
  }
  .home .homeContent .text2 {
    font-size: 50px;
  }
  .home .homeContent .text3 {
    font-size: 35px;
  }
  .home .homeContent .text3 span {
    font-size: 45px;
  }
}
