@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
/* ### nav ### */
/* nav {
  position: fixed;
  width: 100%;
}
.navBar {
  background-color: rgba(128, 128, 128, 0.329);
  font-family: "Ubuntu", "sans-serif";
  padding: 20px 20px;
  transition: all 0.3s ease;
}
.navBar.sticky {
  padding: 3px 20px;
  background: crimson;
}
.navBar .maxWidth {
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBar .logo a {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}
.navBar .logo a span {
  color: crimson;
} */
/* .navBar.sticky .logo a {
  color: white;
} */
/* .navBar .menu li {
  list-style: none;
  display: inline-block;
}
.navBar .menu li a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  transition: color 0.3s ease-in-out;
}
.navBar .menu li a:hover {
  color: crimson;
}
.navBar.navBar.sticky .menu li a {
  color: #fff;
}
.navBar .menuBtn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
} */
/* ### home content ### */
/* section {
  width: 100%;
}
.home {
  display: flex;
  background-color: gray;
  background: url("../resources/stuamedmegdemobilde.jpeg") no-repeat center;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  font-family: "Ubuntu", "sans-serif";
}
.home .maxWidth {
  margin: auto 0 auto 40px;
  max-width: 1920px;
}
.home .homeContent {
  color: #fff;
  background-color: rgba(128, 128, 128, 0.788);
  padding: 25px 25px;
}

.home .homeContent .text1 {
  font-size: 27px;
}
.home .homeContent .text2 {
  font-size: 75px;
  font-weight: 600;
  justify-content: left -3px;
}
.home .homeContent .text3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .homeContent .text3 span {
  color: crimson;
  font-size: 50px;
  font-weight: 500;
} */
/* ### footer ### */
footer {
  background-color: rgb(35, 30, 33);
  height: 220px;
}

/* ### responsive media query -start ### */
@media (max-width: 1000px) {
  .maxWidth {
    padding: 0 5px;
  }
  .navBar .menuBtn {
    padding: 0 25px;
    display: block;
    color: #fff;
    z-index: 1000;
  }
  .navBar .menuBtn i.active:before {
    content: "\f00d";
  }
  .navBar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }
  .navBar .menu.active {
    left: 0;
  }
  .navBar .menu li {
    display: block;
  }
  .navBar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
}
