@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&family=Ubuntu:wght@400;500;700&display=swap");
section {
  width: 100%;
}
.home {
  display: flex;
  background-color: gray;
  background: url("../resources/Hovedbygget.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  min-height: 500px;
  font-family: "Ubuntu", "sans-serif";
}
.home .maxWidth {
  margin: auto 0 auto 40px;
  max-width: 1920px;
}
.home .homeContent {
  color: #fff;
  background-color: rgba(128, 128, 128, 0.788);
  padding: 25px 25px;
}

.home .homeContent .text1 {
  font-size: 32px;
}
.home .homeContent .text2 {
  font-size: 75px;
  font-weight: 600;
  justify-content: left -3px;
}
.home .homeContent .text3 {
  font-size: 40px;
}
.home .homeContent .text3 span {
  color: crimson;
  font-size: 50px;
  font-weight: 500;
}
/* about content */

.about {
  font-family: "Poppins", sans-serif;
  padding: 60px 60px;
}
.about .maxWidth {
  margin: auto 0 auto 40px;
  max-width: 1920px;
}
.about .title {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 60px;
}
.about .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  transform: translateX(-50%);
  background: #111;
}
.about .title::after {
  /* under content kan du legge in pen rød tekst over svart stripe på om*/
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 5px;
  transform: translateX(-50%);
  background: #fff;
}

.about .aboutContent {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 100px;
}
.about .aboutContent .left {
  width: 45%;
}
.about .aboutContent .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
  transform: translateX(20px);
}
.about .aboutContent .right {
  width: 55%;
}
.about .aboutContent .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .aboutContent .right .text span {
  color: crimson;
}
.about .aboutContent .right p {
  font-size: 18px;
  text-align: justify;
  max-width: 700px;
}
/* .about .aboutContent .right a {
  display: inline-block;
  background-color: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
} */
.about .aboutContent .right a:hover {
  color: crimson;
  background: none;
}

/* more about content */
.aboutMore {
  font-family: "Poppins", sans-serif;
  padding: 60px 60px;
  background-color: gray;
}
.aboutMore .aboutMoreContent {
  color: #fff;
  display: flex;
  align-items: flex-start flex-end;
  justify-content: space-evenly;
}
.aboutMore .aboutMoreContent .card {
  background: rgb(35, 30, 33);
  padding: 25px 35px;
  border-radius: 5px;
  border: 5px solid #111;
  text-align: center;
}
.aboutMore .aboutMoreContent .card .box {
  font-size: 20px;
}
.aboutMore .aboutMoreContent .card h2 {
  font-weight: 600;
  font-size: 25;
  padding-bottom: 15px;
}
.aboutMore .aboutMoreContent .card .box img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid crimson;
}
.aboutMore .aboutMoreContent .card p {
  max-width: 300px;
  padding-top: 15px;
}
.aboutMore .aboutMoreContent .card .linkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.aboutMore .aboutMoreContent .card a {
  max-width: 300px;
  padding-top: 15px;

  background-color: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 5px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.aboutMore .aboutMoreContent .card a:hover {
  color: crimson;
  background: none;
}

/* scaling*/
@media (max-width: 1250px) {
  .about {
    padding: 60px 0px;
  }
  .about .aboutContent {
    padding: 0 0px;
  }
}
@media (max-width: 1000px) {
  .home .maxWidth {
    padding: 0 50px;
    margin: auto 0 auto 0;
  }
  .aboutMore .aboutMoreContent {
    display: flex;
    align-items: center;

    flex-direction: column;
  }
  .aboutMore .aboutMoreContent .card {
    margin-bottom: 20px;
  }
  .about .aboutContent .column {
    width: 100%;
    padding-right: 45px;
  }
}

@media (max-width: 700px) {
  .home .maxWidth {
    padding: 0 20px;
    margin: auto 0 auto 0;
  }
  .home .homeContent .text1 {
    font-size: 27px;
  }
  .home .homeContent .text2 {
    font-size: 50px;
  }
  .home .homeContent .text3 {
    font-size: 35px;
  }
  .home .homeContent .text3 span {
    font-size: 45px;
  }
}
